#jinja2: lstrip_blocks: True
{ "@timestamp": "{{ ansible_date_time.iso8601 }}", "ipaddress": "{{ inventory_hostname }}", "hostname": "{{ ansible_net_hostname }}", "ios_type": "{{ ansible_net_iostype }}", "os_image": "{{ ansible_net_image }}", "model": "{{ ansible_net_model }}", "total_memory": "{{ ansible_net_memtotal_mb }}", "free_memory": "{{ ansible_net_memfree_mb }}", "serial_num": "{{ ansible_net_serialnum }}", "os_version": "{{ ansible-net_version }}"  } }
