#jinja2: keep_trailing_newline:True
{% for win_update in list_of_updates.updates | dict2items %}
{ "index": {} }
{ "@timestamp": "{{ ansible_date_time.iso8601_micro }}", "update": { "kb": [ "{{ win_update.value.kb[0] }} "  ],  "hostname": "{{ inventory_hostname }}",  "ipaddress": "{{ ansible_ip_addresses[0] }}", "osname": "{{ ansible_os_name }}", "title": "{{ win_update.value.title }}",  "id": "{{ win_update.value.id }}", "installed": false } }
{% endfor %}