{% for win_update in list_of_updates.updates | dict2items %}
   {
     "update": {
       "kb": [
         "{{ win_update.value.kb }}"
       ],
       "hostname: "{{inventory_hostname }}",
       "installed": false,
       "id": "{{ win_update.value.id }}",
       "title": "{{ win_update.value.title }}"
     }
   }{{ "," if not loop.last }}
{% endfor %}   